<!DOCTYPE html>
<html>
<body>

<form> 
  <p>Room checklist</p>
  <Legend>Ballroom:</Legend>
  <input type="radio" id="Guilty" name="ballroom" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="ballroom" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="ballroom" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Billiard Room:</Legend>
  <input type="radio" id="Valid" name="billiard_room" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="billiard_room" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="billiard_room" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>

  <Legend>Conservatory:</Legend>
  <input type="radio" id="Valid" name="conservatory" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="conservatory" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="conservatory" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>

  <Legend>Dining Room:</Legend>
  <input type="radio" id="Valid" name="dining_room" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="dining_room" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="dining_room" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Hall:</Legend>
  <input type="radio" id="Valid" name="hall" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="hall" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="hall" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Kitchen:</Legend>
  <input type="radio" id="Valid" name="kitchen" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="kitchen" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="kitchen" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Library:</Legend>
  <input type="radio" id="Valid" name="library" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="library" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="library" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Lounge:</Legend>
  <input type="radio" id="Valid" name="lounge" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="lounge" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="lounge" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Study:</Legend>
  <input type="radio" id="Valid" name="study" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="study" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="study" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
</form>

<form> 
  <p>Person checklist</p>
  <Legend>Ms Scarlet:</Legend>
  <input type="radio" id="Valid" name="ms_scarlet" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="ms_scarlet" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="ms_scarlet" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Professor Plum:</Legend>
  <input type="radio" id="Valid" name="prof_plum" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="prof_plum" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="prof_plum" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>

  <Legend>Colonel Mustard:</Legend>
  <input type="radio" id="Valid" name="col_mustard" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="col_mustard" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="col_mustard" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>

  <Legend>Mrs Peacock:</Legend>
  <input type="radio" id="Valid" name="mrs_peacock" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="mrs_peacock" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="mrs_peacock" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Mr Green:</Legend>
  <input type="radio" id="Valid" name="mr_green" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="mr_green" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="mr_green" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Mr White:</Legend>
  <input type="radio" id="Valid" name="mr_white" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="mr_white" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="mr_white" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
</form>

<form> 
  <p>Weapon checklist</p>
  <Legend>Candlestick:</Legend>
  <input type="radio" id="Valid" name="candlestick" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="candlestick" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="candlestick" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Knife:</Legend>
  <input type="radio" id="Valid" name="knife" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="knife" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="knife" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>

  <Legend>Pipe:</Legend>
  <input type="radio" id="Valid" name="pipe" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="pipe" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="pipe" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>

  <Legend>Revolver:</Legend>
  <input type="radio" id="Valid" name="revolver" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="revolver" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="revolver" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Rope:</Legend>
  <input type="radio" id="Valid" name="rope" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="rope" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="rope" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
  
  <Legend>Wrench:</Legend>
  <input type="radio" id="Valid" name="wrench" value="guilty">
  <label for="Guilty">Guilty</label>
  <input type="radio" id="Maybe" name="wrench" value="maybe" checked>
  <label for="Maybe">Maybe</label>
  <input type="radio" id="Not Valid" name="wrench" value="not_guilty">
  <label for="Not Valid">Not Guilty</label><br>
</form>

</body>
</html>