<!DOCTYPE html>
<html>
<body>

<p><b>Room Checklist</b></p>
<table border="1">
<tr>
<td></td>
<td>Guilty</td>
<td>Maybe</td>
<td>Innocent</td>
</tr>
<tr>
<td>Ballroom</td>
<td><input type="radio" name="ballroom" value="guilty"></td>
<td><input type="radio" name="ballroom" value="maybe"></td>
<td><input type="radio" name="ballroom" value="not_guilty"></td>
</tr>
<tr>
<td>Billiard Room</td>
<td><input type="radio" name="billiard_room" value="guilty"></td>
<td><input type="radio" name="billiard_room" value="maybe"></td>
<td><input type="radio" name="billiard_room" value="not_guilty"></td>
</tr>
<tr>
<td>Conservatory</td>
<td><input type="radio" name="conservatory" value="guilty"></td>
<td><input type="radio" name="conservatory" value="maybe"></td>
<td><input type="radio" name="conservatory" value="not_guilty"></td>
</tr>
<tr>
<td>Dining Room</td>
<td><input type="radio" name="dining_room" value="guilty"></td>
<td><input type="radio" name="dining_room" value="maybe"></td>
<td><input type="radio" name="dining_room" value="not_guilty"></td>
</tr>
<tr>
<td>Hall</td>
<td><input type="radio" name="hall" value="guilty"></td>
<td><input type="radio" name="hall" value="maybe"></td>
<td><input type="radio" name="hall" value="not_guilty"></td>
</tr>
<tr>
<td>Kitchen</td>
<td><input type="radio" name="kitchen" value="guilty"></td>
<td><input type="radio" name="kitchen" value="maybe"></td>
<td><input type="radio" name="kitchen" value="not_guilty"></td>
</tr>
<tr>
<td>Library</td>
<td><input type="radio" name="library" value="guilty"></td>
<td><input type="radio" name="library" value="maybe"></td>
<td><input type="radio" name="library" value="not_guilty"></td>
</tr>
<tr>
<td>Lounge</td>
<td><input type="radio" name="lounge" value="guilty"></td>
<td><input type="radio" name="lounge" value="maybe"></td>
<td><input type="radio" name="lounge" value="not_guilty"></td>
</tr>
<tr>
<td>Study</td>
<td><input type="radio" name="study" value="guilty"></td>
<td><input type="radio" name="study" value="maybe"></td>
<td><input type="radio" name="study" value="not_guilty"></td>
</tr>
</table>
<p>&nbsp;</p>
<p><b>Person Checklist</b></p>
<table border="1">
<tr>
<td></td>
<td>Guilty</td>
<td>Maybe</td>
<td>Innocent</td>
</tr>
<tr>
<td>Ms Scarlet</td>
<td><input type="radio" name="Ms Scarlet" value="guilty"></td>
<td><input type="radio" name="Ms Scarlet" value="maybe"></td>
<td><input type="radio" name="Ms Scarlet" value="not_guilty"></td>
</tr>
<tr>
<td>Prof Plum</td>
<td><input type="radio" name="Prof Plum" value="guilty"></td>
<td><input type="radio" name="Prof Plum" value="maybe"></td>
<td><input type="radio" name="Prof Plum" value="not_guilty"></td>
</tr>
<tr>
<td>Col Mustard</td>
<td><input type="radio" name="Col Mustard" value="guilty"></td>
<td><input type="radio" name="Col Mustard" value="maybe"></td>
<td><input type="radio" name="Col Mustard" value="not_guilty"></td>
</tr>
<tr>
<td>Mrs Peacock</td>
<td><input type="radio" name="Mrs Peacock" value="guilty"></td>
<td><input type="radio" name="Mrs Peacock" value="maybe"></td>
<td><input type="radio" name="Mrs Peacock" value="not_guilty"></td>
</tr>
<tr>
<td>Mr Green</td>
<td><input type="radio" name="Mr Green" value="guilty"></td>
<td><input type="radio" name="Mr Green" value="maybe"></td>
<td><input type="radio" name="Mr Green" value="not_guilty"></td>
</tr>
<tr>
<td>Mrs White</td>
<td><input type="radio" name="Mr White" value="guilty"></td>
<td><input type="radio" name="Mr White" value="maybe"></td>
<td><input type="radio" name="Mr White" value="not_guilty"></td>
</tr>
</table>
<p>&nbsp;</p>
<p><b>Weapon Checklist</b></p>
<table border="1">
<tr>
<td></td>
<td>Guilty</td>
<td>Maybe</td>
<td>Innocent</td>
</tr>
<tr>
<td>Candlestick</td>
<td><input type="radio" name="Candlestick" value="guilty"></td>
<td><input type="radio" name="Candlestick" value="maybe"></td>
<td><input type="radio" name="Candlestick" value="not_guilty"></td>
</tr>
<tr>
<td>Knife</td>
<td><input type="radio" name="Knife" value="guilty"></td>
<td><input type="radio" name="Knife" value="maybe"></td>
<td><input type="radio" name="Knife" value="not_guilty"></td>
</tr>
<tr>
<td>Pipe</td>
<td><input type="radio" name="Pipe" value="guilty"></td>
<td><input type="radio" name="Pipe" value="maybe"></td>
<td><input type="radio" name="Pipe" value="not_guilty"></td>
</tr>
<tr>
<td>Revolver</td>
<td><input type="radio" name="Revolver" value="guilty"></td>
<td><input type="radio" name="Revolver" value="maybe"></td>
<td><input type="radio" name="Revolver" value="not_guilty"></td>
</tr>
<tr>
<td>Rope</td>
<td><input type="radio" name="Rope" value="guilty"></td>
<td><input type="radio" name="Rope" value="maybe"></td>
<td><input type="radio" name="Rope" value="not_guilty"></td>
</tr>
<tr>
<td>Wrench</td>
<td><input type="radio" name="Wrench" value="guilty"></td>
<td><input type="radio" name="Wrench" value="maybe"></td>
<td><input type="radio" name="Wrench" value="not_guilty"></td>
</tr>
</table>

</body>
</html>
