<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>

</head>
<body>
<% include partials/menu %>
<h3 align-left><%= page %></h3>
<div class="container-fluid bg-3 text-center">

  <div class="row">
    <div class="col-sm-4">
      <p>Maybe game/user locations here.</p>

    </div>
    <div class="col-sm-4">
      <p>Maybe number of players waiting here</p>
    </div>
    <div class="col-sm-4">
      <h1>Server connections</h1>
      <h3>Player - Lobby</h3>
      <div id="server"></div>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
<input class="name" type="text" placeholder="Name">
<input class="lobby" type="text" placeholder="Lobby">
<button class="createLobby">createLobby</button>
<button class="joinLobby">joinLobby</button>
</html>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script>
var socket = io();
$('.createLobby').click(function() {
  let name = $('.name').val()
  socket.emit('createLobby', {
    name: name
  });
});
$('.joinLobby').click(function() {
  let name = $('.name').val()
  let lobby = $('.lobby').val()
  socket.emit('joinLobby', {
    name: name,
    lobby: lobby
  });
});
socket.on('players', function(data) {
  if (data.players == {}) {
    content = "";
  }
  else {
    console.log(data.players)
    content = ""
    for (var player in data.players) {
      content += player + " - " + data.players[player] + "<br>"
    }
  }
  $('#server').html(content);
});
</script>
