body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../img/bamboo.jpg');
}

a {
  color: #00B7FF;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;

  background-color: black;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.active>a {
  color: #1abc9c !important;;
}

.navbar-default .navbar-brand {
  color: #1abc9c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
  border-radius: 15px;
}
.modal-header {
  background-color: #1abc9c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.char-selection li{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 2px solid #eee;
  padding: 10px 0;
}

.char-selection li.selected{
  border: 2px solid #158cba;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
}

td {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  white-space: nowrap;

}

