body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../img/bamboo.jpg');
}

a {
  color: #00B7FF;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 15px;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;

  background-color: black;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.active>a {
  color: #1abc9c !important;;
}

.navbar-default .navbar-brand {
  color: #1abc9c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
  border-radius: 15px;
}
.modal-header {
  background-color: #1abc9c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.char-selection li{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 2px solid #eee;
  padding: 10px 0;
}

.char-selection li.selected{
  border: 2px solid #158cba;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
}

td {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  white-space: nowrap;

}

canvas#Study {
  background: url("../img/study-board.jpg");
}

canvas#Library {
  background: url("../img/library-board.jpg");
}

canvas#Conservatory {
  background: url("../img/conservatory-board.jpg");
}

canvas#Hall {
  background: url("../img/hall-board.jpg");
}

canvas#BilliardRoom {
  background: url("../img/billiardroom-board.jpg");
}

canvas#Ballroom {
  background: url("../img/ballroom-board.jpg");
}

canvas#Lounge {
  background: url("../img/lounge-board.jpg");
}

canvas#DiningRoom {
  background: url("../img/diningroom-board.jpg");
}

canvas#Kitchen {
  background: url("../img/kitchen-board.jpg");
}

#gameBoardContainer canvas.hallway.horizontal{
  background: url("../img/hall-horizontal.png");
  background-size: 100% 50%;
  background-position: center;
  background-repeat: no-repeat;
}

#gameBoardContainer canvas.hallway.vertical{
  background: url("../img/hall-vertical.png");
  background-size: 50% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

div#gameBoardContainer character{
  position: absolute;
  display: inline-flex;
  width: 7.5% !important;
  height: 7.5% !important;
  z-index: 3;
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .9;
}

div#gameBoardContainer character.myCharacter:hover{
  cursor:pointer;
  opacity: 1;
  width: 10% !important;
  height: 10% !important;
}

character#MissScarlet{
  background: url("../img/red-token.png");
}

character#ColonelMustard{
  background: url("../img/yellow-token.png");
}

character#MrsWhite{
  background: url("../img/white-token.png");
}

character#MrGreen{
  background: url("../img/green-token.png");
}

character#MrsPeacock{
  background: url("../img/blue-token.png");
}

character#ProfessorPlum{
  background: url("../img/purple-token.png");
}

.gameBoardColumn{
  display: inline-block;
  float: left;
  height: 100%;
  width: 20%;
}

div#gameBoardContainer{
  position: relative;
  display: inline-flex;
  width: 60vw;
  height: 62vh;
}

#gameBoardContainer canvas {
  position: relative;
  display: inline-flex;
  width: 80%;
  height: 19%;
}

#gameBoardContainer canvas.room {
  background-size: 100% 100%;
}

#cardContainer{
  position: relative;
  display: inline-flex;
  width: 35%;
  height: 16.5vh;
}

card{
  position: relative;
  display: inline-flex;
  width: 15%;
  height: 100%;
}

#gameBoardContainer character{
  position: absolute;
  display: inline-flex;
  width: 7.5% !important;
  height: 7.5% !important;
  z-index: 3;
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .9;
}

div#gameBoardContainer character.myCharacter:hover{
  cursor:pointer;
  opacity: 1;
  width: 10% !important;
  height: 10% !important;
}
